<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hgroup>
        <h1>Error.</h1>
        <h2>An error occurred while processing your request.</h2>
        <h2>The card most likely is no longer there or its state has already changed</h2>
        <h3>Please refresh the page.</h3>
    </hgroup>
</body>
</html>
