.expirationDate {
    display: flex;
}

    .expirationDate p {
        text-align: center;
        margin-left: 100%;
    }

    .expirationDate #date {
        margin-left: 10%;
    }

.createButton {
    margin-left: 47.8%;
    margin-bottom: 1%;
}


#cardGrid {
    margin-left: 25%;
}

.k-header .k-link {
    text-align: center;
}

.k-icon {
    display: none;
}

.k-link {
    margin-left: 25px !important;
    color: green !important;
    font-weight: bold;
}

.control-label {
    margin-left: 18%;
}

.col-md-10 {
    position: absolute;
    margin-top: 5px;
    margin-left: 40px;
}

#expirationDate {
    position: absolute;
    margin-left: 40%;
}

.text-box {
    margin-left: 0%;
}

.democlass {
    /*for mouse clicks, on touch events*/
    cursor: not-allowed;
    opacity: 0.5;
    text-decoration: none;
    pointer-events: none;
    /*display: inline-block;*/ /* For IE11/ MS Edge bug */
}
